* {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     color: #202020;
}

header {
    position: relative;
    margin-top: 51px;
}

nav {
    height: 51px;
    background-color: #212121;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.menu {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_item {
    border-right: 1px dotted #000;
    padding-right: 28px;
}

.menu .menu_item:last-child {
    border: none;
}

.menu .menu_link {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    color: #ffffff;
}

.subheader {
    height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: absolute;
    width: 100%;
}

.subheader .subheader_logo {
    display: block;
    min-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 6px;
}

.subheader .subheader_call {
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    margin-top: 19px;
}

.subheader .subheader_phone {
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    line-height: 12px;
}

.subheader .subheader_btn {
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 19px;
    outline: none; /* Убираем обводку, появляющуюся после клика по кнопке */
}

.promo {
    min-height: 800px;
    padding: 151px 0 135px;
    background: url('../img/primary-bg.jpg') center center/cover no-repeat;
}

.promo .promo_title {
    font-size: 60px;
    font-weight: 700;   
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0;
    margin-top: 22px;
}

.promo .promo_subtitle {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0;
    margin-top: 10px;
}

.promo .promo_descr {
    font-size: 18px;   
    line-height: 1.33;
    text-align: center;
    color: #ffffff;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    width: 259px;
    height: 63px;
    box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 18px;
    line-height: 3.78;
    text-align: center;
    color: #ffffff;
    margin: 118px auto 0;
    outline: none; /* Убираем обводку, появляющуюся после клика по кнопке */
}

.reasons {
    padding: 71px 0 80px;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 24px;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
}

.title {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    color: #222222;
    text-transform: uppercase;
    margin-top: 38px;
}

.reasons_item {
    display: -webkit-flex;
    display: flex;
    padding: 0 35px;
    margin-top: 40px;
}

.reasons_round {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex: 0 0 auto;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius:100%;
    margin-right: 26px;
  }

.reasons .reasons_descr {
    min-width: 341px;
    min-height: 141px;
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
    
}

.reasons_descr span {
    font-size: 17px;
    font-weight: normal;
    color: #1eacc7;
}