.catalog {
    padding-bottom: 80px;

    &__tabs {
        display: flex;
        justify-content: center;
        margin-top: 70px;
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
    }

    &__tab {
        width: 220px;
        height: 50px;
        border: solid 2px #d0d0d0;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: #6b6b6b;
        text-align: center;
        text-transform: uppercase;
        line-height: 48px;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;

        div {
            transform: skewX(25deg);
        }

        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }

        &_active {
            background-color: $main-color;
            color: #ffffff;
            border: none;
        }
    }

    &__content {
        margin-top: 60px;
        display: none;
        justify-content: center;
        flex-wrap: wrap;

        &_active {
            display: flex;
        }
    }
}

@media (max-width: 575px) {
    .catalog {
        &__tabs {
            flex-direction: column;
            align-items: center;
        }

        &__tab {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__content {
            justify-content: center;
        }
    }
}

@media (max-width: 991px) {
    .catalog {
        &__content {
            justify-content: center;
        }
    }
}