.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__logo {
        width: 250px;
        align-self: center;

        img {
            width: 100%;
        }
    }

    &__official {
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        align-self: center;

        span {
            display: block;
            font-size: 18px;
            margin-top: 7px;
        }
    }

    &__phone {
        display: block;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;

        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
}

/* @media */
@media (max-width: 767px) {
    .header {
        &__logo {
            width: 170px;
        }

        &__official {
            font-size: 11px;

            span {
                font-size: 14px;
            }
        }

        &__phone {
            font-size: 14px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        flex-direction: column;
        align-items: center;

        &__official,
        &__contacts {
            margin-top: 15px;
            font-size: 14px;
        }

        &__contacts {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

        }

        &__phone {
            font-size: 14px;
            margin-right: 10px;
        }
    }
}