.flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.info {
    margin-top: 70px
}

.info__box.flex {
    justify-content: space-between
}

.info__tabs {
    width: 330px
}

.info__tab {
    border-width: 0 0 1px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    padding: 19px 25px 18px;
    color: #333;
    cursor: pointer
}

.info__tab.active {
    background-color: #2295d4;
    color: #fff
}

.info__info {
    width: 840px;
    display: none
}

.info__info_1 {
    display: block
}

.descr h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.25em;
    margin-bottom: 10px
}

.descr p {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 300
}

.descr ul {
    padding-left: 25px;
    margin-bottom: 16px;
    list-style: none
}

.descr ul li {
    background: url(../img/bullet.png) 0 0 no-repeat;
    padding-left: 25px;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 300
}

.char h3 {
    font-size: 22px;
    line-height: 1.7;
    font-weight: 400;
    margin-bottom: 22px
}

.char__row.flex {
    justify-content: space-between
}

.char__row b {
    width: 210px;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.7
}

.char__row span {
    width: 630px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7
}

.comment h3 {
    font-size: 40px;
    line-height: 1.7;
    font-weight: 400;
    margin-bottom: 22px;
    text-align: center;
    font-weight: 700;
}

.comment__item {
    border-bottom: 1px dashed #e5e5e5;
    padding-top: 20px;
    padding-bottom: 10px
}

.comment__head.flex {
    justify-content: space-between;
    align-items: center
}

.comment__name {
    width: 500px
}

.comment__name.flex {
    align-items: center
}

.comment__name span {
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #333
}

.comment__rating.flex {
    align-items: center
}

.comment__star {
    width: 18px;
    height: 17px;
    background: url(../img/rating.png) no-repeat;
    background-size: 100% 100%
}

.comment__star.active {
    background-image: url(../img/rating-active.png)
}

.comment__date {
    width: 150px;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    font-style: italic;
    text-align: right;
    /*display: none;*/
}

.comment__text {
    margin: 15px 0
}

.comment__text p {
    font-size: 16px;
    line-height: 1.7;
    color: #333
}

.comment__answ {
    padding-left: 60px;
    width: 100%;
    margin-top: 20px;
    position: relative
}

.comment__answ:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 30px;
    top: 1px;
    background: url(../img/arrow.png);
    background-size: 100% 100%
}

.comment__answname {
    display: inline-block;
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
    background-color: #2295d4;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px
}

.comment__show {
    color: #2295d4;
    font-size: 16px;
    font-size: 300;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline
}

.feedback {
    margin-top: 50px
}

.feedback__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.7;
    margin-bottom: 10px
}

.feedback__rating {
    width: 350px;
    cursor: pointer;
    margin-bottom: 20px
}

.feedback__rating.flex {
    justify-content: space-between
}

.feedback__star {
    color: #aaa;
    text-decoration: none;
    transition: color .4s;
    position: relative;
    margin: 0 8px;
    font-size: 45px;
    padding-bottom: 15px
}

.feedback__star:first-child {
    margin-left: 0
}

.feedback__star.active {
    color: #f9d900
}

.feedback__star:before {
    content: '';
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    color: #aaa
}

.feedback__star_1:before {
    content: "Плохой"
}

.feedback__star_2:before {
    content: "Так себе"
}

.feedback__star_3:before {
    content: "Нормальный"
}

.feedback__star_4:before {
    content: "Хороший"
}

.feedback__star_5:before {
    content: "Отличный"
}

.feedback__input {
    margin-bottom: 10px
}

.feedback__input label {
    font-size: 16px;
    color: #333;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 8px
}

.feedback__input input {
    width: 340px;
    height: 36px;
    background: #fff;
    border: 1px solid #ddd;
    display: block
}

.feedback__input textarea {
    width: 500px;
    height: 120px;
    background: #fff;
    border: 1px solid #ddd;
    display: block
}

.feedback__btn {
    background-color: #f89b24;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
    color: #fff;
    border: 0;
    margin-top: 10px
}
.comment2 {
    margin: 30px auto;
    width: 980px
}

.comment2__box {
    padding: 0 5px;
    display: none;
}

.comment2__box.active{
    display: block;
}

.comment2__wrapper {
    height: 500px;
    overflow: hidden;
    position: relative
}

.comment2__wrapper.active {
    height: auto
}

.comment2__wrapper.active:before {
    opacity: 0
}

.comment2__wrapper:before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top, #fff, transparent);
    bottom: 0;
    left: 0;
    z-index: 2
}

.commentinfo {
    margin: 30px auto;
    width: 980px
}

.commentinfo__title {
    border-width: 0 0 1px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    padding: 19px 25px 18px!important;
    background-color: #2295d4;
    color: #fff;
    margin-bottom: 30px
}

.commentinfo__text h3 {
    font-size: 32px;
    font-weight: 400;
    color: #333;
    margin-bottom: 15px
}

.commentinfo__text h4 {
    font-size: 26px;
    font-weight: 400;
    color: #333;
    margin-bottom: 10px
}

.commentinfo__text p {
    font-size: 16px;
    font-weight: 300;
    color: #000;
    margin-bottom: 20px;
    line-height: 1.7
}
@media screen and (min-width:992px) and (max-width:1200px) {
    .wrapper {
        max-width: 940px
    }
    .goods__box {
        width: 940px
    }
    .comment2 {
        width: 940px
    }
    .qna {
        width: 940px
    }
    .commentinfo {
        width: 940px
    }
    .prod__image {
        width: 320px
    }
    .prod__cont {
        width: 600px
    }
    .prod__text {
        margin-bottom: 15px
    }
    .prod__adv {
        margin: 0
    }
    .info__tabs {
        width: 299px
    }
    .info__info {
        width: 600px
    }
    .delivery {
        width: 900px
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .wrapper {
        max-width: 740px
    }
    .goods__box {
        width: 740px
    }
    .goods__item {
        width: 355px;
        margin-bottom: 20px
    }
    .comment2 {
        width: 740px
    }
    .qna {
        width: 740px
    }
    .commentinfo {
        width: 740px
    }
    .prod__image {
        margin-bottom: 25px
    }
    .prod__left {
        width: 370px
    }
    .info__tabs {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px
    }
    .info__tab {
        width: 33.3333%;
        text-align: center
    }
    .info__info {
        max-width: 100%
    }
    .delivery {
        width: 700px
    }
}

@media screen and (max-width:767px) {
    .content {
        padding-top: 90px
    }
    .wrapper {
        max-width: calc(100% - 30px)
    }
    .goods__box {
        width: calc(100% - 30px)
    }
    .goods__item {
        width: 100%;
        max-width: 350px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px
    }
    .comment2 {
        width: calc(100% - 30px)
    }
    .qna {
        width: calc(100% - 30px)
    }
    .qna__left {
        width: 100%
    }
    .qna__right {
        width: 100%
    }
    .comment__answ {
        padding-left: 40px
    }
    .comment__answ:before {
        left: 10px
    }
    .comment__name {
        width: calc(100% - 100px)
    }
    .comment__date {
        width: 100px
    }
    .commentinfo {
        width: calc(100% - 30px)
    }
    .prod__box.flex {
        justify-content: center
    }
    .prod__image {
        width: 100%;
        max-width: 350px
    }
    .prod__cont {
        width: 100%;
        margin-top: 20px;
        padding: 18px 20px
    }
    .prod__cont h3 {
        font-size: 19px
    }
    .prod__left {
        width: 100%;
        padding-right: 0
    }
    .prod__adv {
        margin: 0
    }
    .prod__heading h3 {
        font-size: 24px
    }
    .info {
        margin-top: 40px
    }
    .info__tabs {
        width: 100%;
        margin-bottom: 20px
    }
    .info__info {
        max-width: 100%
    }
    .descr h3 {
        font-size: 22px
    }
    .descr p {
        font-size: 15px
    }
    .descr ul {
        padding-left: 10px
    }
    .delivery {
        width: calc(100% - 30px)
    }
    .delivery__title {
        font-size: 22px
    }
    .contact__icon{
        width: 25px;
        margin-right: 10px;
    }
    .contact__text{
        font-size: 15px;
        width: calc(100% - 35px);
    }
}

.pagination {
    margin-top: 15px
}

.pagination.flex {
    justify-content: flex-end
}

.pagination__item {
    background-color: #f5f5f5;
    color: #1c1c1c;
    margin-left: 1px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
}

.pagination__item.active {
    background: #e5e5e5
}