/* -== Imports App components ==- */
@import "base/index.pcss";
@import "layout/index.pcss";
@import "modules/index.pcss";
@import "state/index.pcss";

body {
  background: var(--base-light-color);
  min-height: 100vh;
}