:root {
    /* -== Colors ==- */
    --base-light-color: #fff;
    --base-blue-color: #ededed;
    --base-gray-text: #3c3c3c;

    /* -== Base Sizes ==- */

    /* -== Base Settings ==- */
    --base-transition-time: 0.3s;

}